## Importing necessary libraries

In [1]:
# Importing necessary libraries:
import numpy as np
import pandas as pd

import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

## Importing dataset

In [2]:
# Importing the data:
data_path = "C:/Users/yuvan/Desktop/diamond_price.csv"
data = pd.read_csv(data_path)
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

A data frame with 193573 rows and 11 variables:

**price**
price in US dollars (\$326--\$18,823)

**carat**
weight of the diamond (0.2--5.01)

**cut**
quality of the cut (Fair, Good, Very Good, Premium, Ideal)

**color**
diamond colour, from J (worst) to D (best)

**clarity**
a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

**x**
length in mm (0--10.74)

**y**
width in mm (0--58.9)

**z**
depth in mm (0--31.8)

**depth**
total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)

**table**
width of top of diamond relative to widest point (43--95)

### General Analysis on the data

In [3]:
# id column can be removed:
data.drop('id', axis=1, inplace=True)

In [4]:
# Shape:
print(f"The dataset contains {data.shape[0]} rows and {data.shape[1]} columns")

The dataset contains 193573 rows and 10 columns

In [5]:
# Columns:
print(list(data.columns))

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z', 'price']

In [6]:
# Duplicated rows:
data.duplicated().sum()

np.int64(0)

In [7]:
# Null values:
data.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [8]:
# Datatype of each column:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [9]:
# List of numeric and categoric varible:
num_col = []
cate_col = []

for col in data.columns:
    if data[col].dtype=='object':
        cate_col.append(col)
    else:
        num_col.append(col)

print(f"Numeric Columns: {num_col}\nCategoric Columns: {cate_col}")

Numeric Columns: ['carat', 'depth', 'table', 'x', 'y', 'z', 'price']
Categoric Columns: ['cut', 'color', 'clarity']

In [10]:
# Description of Numeric columns:
data[num_col].describe()

,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [11]:
# Description of Categoric columns:
data[cate_col].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [12]:
# Unique values in categoric columns:
for col in cate_col:
    print(f"{col}---> {data[col].unique()}")

cut---> ['Premium' 'Very Good' 'Ideal' 'Good' 'Fair']
color---> ['F' 'J' 'G' 'E' 'D' 'H' 'I']
clarity---> ['VS2' 'SI2' 'VS1' 'SI1' 'IF' 'VVS2' 'VVS1' 'I1']

In [13]:
# value counts of categoric variables:
for col in cate_col:
    print(f"{data[col].value_counts()}\n{'-'*30}")

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64
------------------------------
color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64
------------------------------
clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64
------------------------------